<table>
    <% for(var i=0; i < products.length; i++) { %>
       <tr>
         <td><%= products[i].title %></td>
         <td><%= products[i].price %></td>
         <td><%= products[i].tags %></td>
       </tr>
    <% } %>
</table>